/* Layout */

/*  Colors
    Main: #e1e0ce
    Navigation: #79dac0
    Content: #e5c584
*/

#container
    {
        background: #e1e0ce;
        width: 1250px;
        overflow: auto;
        margin: 0 auto;
    }

#header 
{
    height:250px;
    width: 1200px;
}

#navigation 
    {
        float: left;
        background: #e1e0ce;
        width: 200px;  
    }
    
#navigation ul 
    {
        margin: 0;
        padding: 0;
        width:185px;
        list-style-type: none;
    }

#navigation ul li a 
    {
        text-decoration: none;
        color: #5f4f3a;
        padding: 10.5px 11px;
        background-color: #79dac0;
        display:block;
        
    }
    
#navigation ul li a:hover, #navigation ul li .current 
    {
    color: white;
    background-color: #5faa96;
    }

#content 
    {	    
        width: 1000px;
        background: #e5c584;
        float: left;
    }
    
#footer
    {
        clear: both;
        background: #79dac0;
        height: 66px;
        width: 1200px;
    }