/* Layout */

/*  Colors
    Main: #e1e0ce
    Navigation: #79dac0
    Content text: #5f4f3a
*/
body
    {
        background: #efebe4;
        line-height: 1.5em;
    }

#header
    {
        background-image: url(pics/logga2.png);
        background-repeat: no-repeat;
        background-position: center;
        height:250px;
    }

#container
    {
        background: #efebe4;
        width: 1250px;
        overflow: auto;
        margin: 0 auto;
    }


#header img
    {
        padding-top: 15px;
        padding-left: 185px;
    }

#home {
    width: 24px;
    height: 24px;
    background: url(pics/sprite.png) 0 0;
}
#home a:hover {
    background: url(pics/sprite.png) 0 -48px;
}

#pres {
    width: 24px;
    height: 24px;
    background: url(pics/sprite.png) 0 -192px;
}
#pres a:hover {
    background: url(pics/sprite.png) 0 -192px;
}

#lab {
    width: 24px;
    height: 24px;
    background: url(pics/sprite.png) 0 -96px;
}
#lab a:hover {
    background: url(pics/sprite.png) 0 -144px;
}

#contact {
    width: 24px;
    height: 24px;
    background: url(pics/sprite.png) 0 -288px;
}
#contact a:hover {
    background: url(pics/sprite.png) 0 -366px;
}

#navigation 
    {
        float: left;
        background: #efebe4;
        width: 200px;  
    }
   
#navigation ul 
    {
        margin: 0;
        padding: 0;
        width:185px;
        list-style-type: none;
    }
/* Ändrar lista till menyknappar */
#navigation ul li a 
    {
        color: #5f4f3a;
        background-color: #79dac0;
        padding: 10.5px 11px;
        display:block;
        font-family: 'Cinzel', serif;
        text-transform: uppercase;
        text-decoration: none;
    }
/* Färgar aktiv länk i meny */
#navigation ul li .active  
    {
    color: #5f4f3a;
    background-color: #95efd7;
    }
    
#navigation ul li a:hover
    {
        background-color:  #95efd7;
    }

#content 
    {	
        background-image: url(pics/paperbackground.jpg);
        width: 840px;
        float: left;
        box-shadow: 8px 8px 4px #888888;
        padding: 30px;
        color: #5f4f3a;
        font-family: 'Ubuntu', sans-serif;
    }
    
#content p
    {
        padding-bottom: 10px;
    }

#content .blogdate
    {
        font-size: 0.7em;
        clear: both;
    }

#content h1
    {
        color: #5f4f3a;
        font-family: 'Cinzel', serif;
        font-size: 2.5em;
        text-transform: uppercase;
        text-align: center;
    }

#content h2, h3
    {
        color: #5f4f3a;
        font-family: 'Cinzel', serif;
    }

#content table, th, td
    {
        border: 2px solid #5f4f3a;
    }

#content td
    {
        padding: 10px;
    }

#content a
    {
        color: #5f4f3a;
    }
/* Textwrap för bilder */
.TextWrapRight
    {
        float: right;
        padding-bottom: 10px;
        padding-left: 10px;
    }
.TextWrapLeft
    {
        float: left;
        padding-bottom: 10px;
        padding-right: 10px;
    }
    
form   
{
    margin:auto;
    position:relative;
    width:550px;
    color: #5f4f3a;
    font-family: 'Ubuntu', sans-serif;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding:10px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input, option, textarea, select
    {

        border: 1px solid #999;
        -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    }
    
.fillIn
    {
        width:375px;
        display:block;
    }
    
.button
{
    width:80px;
    margin-top:10px;
    padding: 5px;
    color: #5f4f3a;
    font-family: 'Ubuntu', sans-serif;
}

/* Placerar footer under kolumnerna */
#footer
    {
        clear: both;
        background: #79dac0;
        height: 66px;
    }
    
#footer p
    {
        color: #5f4f3a;
        font-family: 'Ubuntu', sans-serif;
        font-size: 0.7em;
        text-align: center;
        padding-top: 20px;
    }