/* Layout */

/*  Colors
    Main: #e1e0ce
    Navigation: #79dac0
    Content: #e5c584
*/

#container
    {
        background: #e1e0ce;
        width: 1250px;
        overflow: auto;
        margin: 0 auto;
    }

#header 
{
    height:250px;
    width: 1200px;
}

#navigation 
    {
        float: left;
        background: #79dac0;
        width: 200px;  
    }

#content 
    {	    
        width: 1000px;
        background: #e5c584;
        float: left;
    }
    
#footer
    {
        clear: both;
        background: #79dac0;
        height: 66px;
        width: 1200px;
    }