body 
{
    background-color: #efebe4;
    font: 13px georgia, serif;
}

header
{
    width:1200px;
    height: 80px;
}

main
{
    background: #efebe4;
    width: 1200px;
    overflow: auto;
    margin: 0 auto;
    padding: 40px;
}

section
{
    float:left;
    width: 800px;
}

aside
{
    padding: 10px;
    float: left;
    width: 300px;
}

a
{
    text-decoration: none;
    color: #000;
}

h2 
{
    font: bold 20px helvetica, sans-serif;
}

a
{
    display: block; 
    width: 200px;
    background: #ffffff; 
    padding: 10px; 
    padding-bottom: 20px; 
    margin-top: 10px;
    -moz-box-shadow: #666 5px 5px 20px; 
    -webkit-box-shadow: #666 5px 5px 20px; 
    -moz-transition: all 0.2s ease-in-out; 
    -webkit-transition:all 0.2s ease-in-out;
    float: left;
    margin: 10px;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
}

a:hover
{
    -moz-box-shadow: #ccc 5px 5px 20px; 
    -webkit-box-shadow: #ccc 5px 5px 20px; 
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    position: relative;
    z-index: 5;
    -moz-transition: all 0.2s ease-in-out; 
    -webkit-transition:all 0.2s ease-in-out;
}

a:after 
{
  content: attr(title);
  font: 12px helvetica, sans-serif;
}

section:nth-child(2n+0) a 
{
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    position: relative;
    right: 5px;
}

img
{
    width: 200px;
    max-height: 400px;
}